<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fatigue.driver.app">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/widener_crest"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fatigue.driver.app.Test_MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.fatigue.driver.app.BluetoothAdapterDemoActivity"
            android:parentActivityName="com.fatigue.driver.app.Test_MainActivity"

            > </activity>

        <activity
            android:name="com.fatigue.driver.app.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            >
        </activity>

        <activity
            android:name="com.fatigue.driver.app.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>

        <activity
            android:name="com.fatigue.driver.app.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>

        <activity
            android:name="com.fatigue.driver.app.TrainingActivity"
            android:parentActivityName="com.fatigue.driver.app.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>

        <activity
            android:name="com.fatigue.driver.app.TrainingActivity_New"
            android:parentActivityName="com.fatigue.driver.app.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>

        <activity
            android:name="com.fatigue.driver.app.EvaluationActivity"
            android:parentActivityName="com.fatigue.driver.app.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>

        <activity
            android:name="com.fatigue.driver.app.ModelSelectActivity"
            android:parentActivityName="com.fatigue.driver.app.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>

        <activity
            android:name="com.fatigue.driver.app.TestTwo"
            android:parentActivityName="com.fatigue.driver.app.Test_MainActivity"

            > </activity>
        <activity
            android:name=".TestThree_MindwaveHelper"
            android:parentActivityName="com.fatigue.driver.app.Test_MainActivity"

            > </activity>

    </application>

</manifest>